.Wizard {
    position: relative;
}

.Add-Listing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}

.Cancel-Button{
    margin-right: 40px;
    background-color: rgb(247, 160, 203);
    height: 30px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    border: 0ch;
}

.Cancel-Button:hover{
    cursor: pointer;
}






.complete-button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: chartreuse;
    height: 40px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    border: 0ch;
}

.complete-button:hover{
    cursor: pointer;
}

.next-step {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: chartreuse;
    height: 40px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    border: 0ch;
}

.next-step:hover{
    cursor: pointer;
}