.Wizard {
    position: relative;
}

.main-content {
    background-color: rgb(193, 248, 225);
    height: calc(100vh - 61px);
    width: 60%;
    margin: 0px auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
  }
  
.Add-Listing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
}

.Cancel-Button{
    margin-right: 40px;
    background-color: rgb(247, 160, 203);
    height: 30px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    border: 0ch;
}

.Cancel-Button:hover{
    cursor: pointer;
}








.next-step {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: chartreuse;
    height: 40px;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    border: 0ch;
}

.next-step:hover{
    cursor: pointer;
}