.House{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    margin: 20px;
    text-align: left;
    padding: 10px;
}

.property_name_tag{
    margin: 10px;
}

.address_tag{
    margin: 10px;
}

.city_tag{
    margin: 10px;
}

.state_tag{
    margin: 10px;
}

.zip_tag{
    margin: 10px;
    
}

.close-btn:hover{
cursor: pointer;
}

.close-btn{
   font-size: 20px;
   border: 0ch;
   background-color: lightgray;
}