.House{
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    margin: 20px;
    text-align: left;
    padding: 10px;
}




.image{
    height: 270px;
    width: 260px;
}




.close-btn:hover{
cursor: pointer;
}

.close-btn{
   font-size: 20px;
   border: 0ch;
   background-color: lightgray;
   
}

.close_button{
    float:right;
    padding-right: 10px;
}